@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Fluid Typography */
html {
  font-size: calc(14px + 0.0339vw);
}

body {
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Other Utilities */
.max-width-center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.5) inset,
    0 0 0px 1000px #ffffff inset;
}
